@import '@/assets/variables/variables.less';

.header {
    animation: fromTheTop 0.5s;
    background-color: @main-color;
    padding: 10px;
    width: 100%;
    color: @secondary-color;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1200px;
        height: 100%;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        &-item {
            margin: 0 10px;
        }

        &-link {
            padding: 5px;
            color: @secondary-color;
            text-decoration: none;

            &:hover {
                position: relative;
                top: -2px;
                border-bottom: 2px solid @brand-color;
            }
        }
    }

    &__search {
        display: flex;

        &-link {
            padding: 5px;
            color: @secondary-color;
            text-decoration: none;

            &:hover {
                position: relative;
                top: -2px;
                border-bottom: 2px solid @brand-color;
            }
        }

        &-input {
            margin-left: 20px;
            outline: none;
            border: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding: 5px;
        }

        &-button {
            cursor: pointer;
            outline: none;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: @brand-color;
            padding: 5px 10px;
            color: @secondary-color;
        }
    }
}
