@import '@/assets/variables/variables.less';

.main {
  animation: fadeIn 1s ease-in-out;
  &__swiper {
    &-slide img {
      width: 250px;
      height: 250px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    &__vCard:hover {
      margin-top: 6px;
      margin-right: 6px;
      border-top: 1px solid @brand-color;
      border-right: 1px solid @brand-color;
      border-bottom: 5px solid @hovBrand-color;
      border-left: 5px solid @hovBrand-color;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: @brand-color;
}

.swiper-pagination-bullet-active {
  background: @brand-color;
}
