@import '@/assets/variables/variables.less';

.card {
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    min-width: 25%;
    max-width: 25%;

    &__img {
        width: 100%;
        max-width: 15%;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
    }

    &__description {
        margin-bottom: 5px;
    }

    &__price {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    &__link {
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: @brand-color;
        padding: 5px 10px;
        color: @secondary-color;
        font-size: 16px;
        &:hover {
            background-color: @hovBrand-color;
        }
        &:active {
            filter: brightness(0.8);
            background-color: @hovBrand-color;
        }
    }
}
